.P-login
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    background: #4b72fe
    overflow: hidden
    .login-con
        position: absolute
        top: 50%
        left: 50%
        z-index: 10
        display: flex
        margin: -280px 0 0 -450px
        width: 850px
        height: 560px
        background: #fff
        border-radius: 8px
        box-shadow: 0 0 6px rgba(0,0,0,0.4)
        overflow: hidden
        .cover-con 
            position: relative
            width: 470px
            height: 100%
            background: #bae9ff
            .img-cover
                display: block
                margin: 0 auto
                width: 100%
                box-shadow: 0 0 50px 30px #fff inset; 
        .pannel-con
            flex: 1
            padding: 60px 60px 0
            height 100%
            background: #fff
            color:#333
            .img-logo
                display: block
                margin: 0 auto 20px
                height: 60px
            .img-con
                margin-top: 100px
                text-align: center
                img
                    width: 300px
            h3
                margin-bottom: 10px
                font-size: 30px
                font-weight: bold
                text-align: center   
            .subtext
                margin-bottom: 40px
                text-align: center
        .signup-con
            margin-top: 20px
            text-align: center
            p
                color: #999
            button
                color: #4b72fe
                font-weight: bold
                &:hover
                    color: #3a5bd9