.P-login
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    background: #4b72fe
    overflow: hidden
    .login-con
        position: absolute
        top: 50%
        left: 50%
        z-index: 10
        display: flex
        margin: -280px 0 0 -450px
        width: 850px
        height: 560px
        background: #fff
        border-radius: 8px
        box-shadow: 0 0 6px rgba(0,0,0,0.4)
        overflow: hidden
        .pannel-con
            flex: 1
            padding: 80px 60px 0
            height 100%
            background: #fff
            color:#333
            .title-con
                height: 100px
                margin-bottom: 20px
                .img-logo
                    display: block
                    margin: 0 auto
                    height: 50px
                .title 
                    height 30px
                    margin: 10px
                    font-size: 24px
                    font-weight: bold
                    text-align: center
            .form-con
                margin-top: 40px